*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.medsos{
	padding: 5px 0;
	background-color: #4f2447;
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}

.container{
	width: 80%;
	margin: 0 auto;
}

.container:after{
	content: '';
	display: block;
	clear: both;
}

header {
}

header h1{
	float: left;
	padding: 15px 0;
	color:  #4f2447;
}

header ul li{
	display: inline-block;
}

header ul li a{
	padding: 25px 20px;
	display: inline-block;
}	

header ul li a:hover {
	background-color: #4f2447;
	color: #fff;
}

.banner {
	height: 80vh;
	background-image: url('../praktikum 1/img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner:after{
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(52,20,70,0.6);
}

.banner h2{
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 3px solid #fff;
	text-align: center;
}

input[type="text"],
input[type="date"],
input[type="password"]{
	z-index: 1;
	margin: 20px;
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 3px;
	width: 200px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid;
}

section {
	padding: 50px 0;
}

section h3{
	text-align: center;
	padding: 20px 0;
	color: #4f2447;
	margin-bottom: 20px;
}

.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
}

.service h3:hover{
	background-color: #4f2447;
	color: #fff;
}

footer{
	padding: 30px 0;
	background-color: #4f2447;
	color: #fff;
	text-align: center;
}